{{ header }} {{ column_left }} {% set module_row = 0 %}

<div id="content">

    <div class="page-header">
        <div class="container-fluid">
            <div class="pull-right">
                <button class="btn btn-primary" title="{{ button_save }}" onclick="$('#form').submit();"><i
                            class="fa fa-save"></i> {{ button_save }}</button>
                |
                <a class="btn btn-success" title="{{ button_save_and_continue }}"
                   onclick="$('#save_mode').val('save-new');$('#form').submit();"><i
                            class="fa fa-book"></i> {{ button_save_and_continue }}</a>|
                <a class="btn btn-info" title="{{ button_save_edit }}"
                   onclick="$('#save_mode').val('save-edit');$('#form').submit();"><i
                            class="fa fa-save"></i> {{ button_save_edit }}</a>|
                <a class="btn btn-danger" title="{{ button_cancel }}" href="{{ cancel }}"><i
                            class="fa fa-book"></i> {{ button_cancel }}</a>
            </div>
            <h1>{{ heading_title }}</h1>
            <ul class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div id="page-content" class="container-fluid">
        {% if error_warning %}
            <div class="alert alert-danger alert-dismissible"><i
                        class="fa fa-exclamation-circle"></i> {{ error_warning }}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        {% endif %}

        <div id="ajaxloading" style="display: none;">
            <div class="alert alert-warning" role="alert">{{ text_process_request }}</div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ heading_title }}</h3>
            </div>
            <div class="panel-body">
                <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form"
                      class="form-horizontal">
                    <div class="col-lg-4">
                        {% include 'extension/module/minimenu/minimenu_module_settings.twig' %}
                    </div>
                    <div class="col-lg-4">
                        {% include 'extension/module/minimenu/minimenu_form.twig' %}
                    </div>
                    <div class="col-lg-4">
                        <div class="tree-minimenu">
                            <h3>{{ text_treemenu }}</h3>
                            {{ tree }}
                            <a class="btn btn-success btn-updatetree"
                               id="serialize">{{ button_update_order }}</a>
                            <a class="btn btn-primary" title="{{ button_import_categories }}"
                               onclick="$('#save_mode').val('import-categories');$('#form').submit();">{{ button_import_categories }}</a>
                            <a class="btn btn-danger" title="{{ button_delete_categories }}" data-toggle="modal"
                               data-target=".deleteTree-modal-sm">{{ button_delete_categories }}</a>
                            <p class="note"><i>{{ text_explain_drapanddrop }}</i></p>
                        </div>
                    </div>
                    <input type="hidden" value="save" name="save_mode" id="save_mode"/>
                </form>
            </div><!-- div.panel > manage-menus -->
        </div><!-- end div.panel panel-default -->
        <div id="info" style="font-size:10px;color:#666"><p>miniMenu ver. 1.0 (free module based on Pav Mega Menu)</p></div>

    </div><!-- container-fluid -->
</div>

<!-- Modal confirm dialog -->
<div id="cmodal" class="modal fade deleteTree-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                {{ text_message_delete_category }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{ text_close }}</button>
                <button type="button" class="btn btn-primary" id="btnDeleteTree">{{ button_delete }}</button>
            </div>
            <input id="menuid" type="hidden" name="menuid" value="0"/>
        </div>
    </div>
</div>

<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () {
        // Drag and Drop menu Item build in model
        $('ol.sortable').nestedSortable({
            forcePlaceholderSize: true,
            handle: 'div',
            helper: 'clone',
            items: 'li',
            opacity: .6,
            placeholder: 'placeholder',
            revert: 250,
            tabSize: 25,
            tolerance: 'pointer',
            toleranceElement: '> div',
            maxLevels: 4,
            isTree: true,
            expandOnHover: 700,
            startCollapsed: true
        });

        $('#serialize.btn-updatetree').click(function () {
            var serialized = $('ol.sortable').nestedSortable('serialize');
            $.ajax({
                type: 'POST',
                dataType: 'json',
                url: "{{ update_tree }}",
                data: serialized,
                beforeSend: function () {
                    $("#ajaxloading").show();
                },
                complete: function () {
                    $("#ajaxloading").hide();
                },
                success: function () {
                    if ($('#msg-tree').length > 0) {
                        $("#page-content").remove('#msg-tree');
                    } else {
                        var html = "<div id='msg-tree' class='alert alert-success'><i class='fa fa-check-circle'></i>{{ text_success_update_tree }}<button type='button' class='close' data-dismiss='alert'>×</button></div>";
                        $("#ajaxloading").before(html);
                        //Scroll up
                        $('html, body').animate({scrollTop: 0}, 'slow');
                    }
                }
            });
        });

        // Modal delete tree categories
        $('#btnDeleteTree').click(function () {
            var id = $("#menuid").val();
            if (parseInt(id) === 0) {
                $("#save_mode").val('delete-categories');
                $('#form').submit();
            } else {
                window.location.href = "{{ action_del }}&item_id=" + id;
            }
        });

        // generated in model
        $(".quickdel").click(function () {
            $('#cmodal .modal-body').html("{{ text_message_delete }}");
            $('#cmodal').modal();
            var id = $(this).attr("rel").replace("id_", "");
            $("#menuid").val(id);
            return false;
        });
    });
</script>

{{ footer }}
