<nav class="minimenu minimenu-module-{{ module_id }}">
    <div class="navbar navbar-expand-lg navbar-light">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-minimenu-{{ module_id }}">
                {{ burger_text }}
            </button>
        </div>
        <div class="collapse navbar-collapse" id="bs-minimenu-{{ module_id }}">
            {{ treemenu }}
        </div>
    </div>
</nav>
<script>
    (function($){
        $(document).ready(function(){
            $('.minimenu-module-{{ module_id }} ul.dropdown-menu [data-toggle=dropdown]').on('click', function(event) {
                event.preventDefault();
                event.stopPropagation();
                $(this).parent().siblings().removeClass('open');
                $(this).parent().toggleClass('open');
            });
        });
    })(jQuery);
</script>